<h1> Welcome to the Bookmark Manager </h1>

<form action="/add" method="Get"> 
<input type="submit" value="Add a Bookmark" >
</form>

<form action="/bookmarks" method="Get"> 
<input type="submit" value="View bookmarks">
</form>

